@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

h1 {
    margin-top: 50px;
    margin-left: 350px;
    padding: 10px;
    color: white;
    text-align: center;
    align-self: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif; 
}

.timeline-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    margin: 0% 20% 3% 30%;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to top, rgb(26, 37, 63), rgba(0, 0, 0, 0.5));
    color: #fff;
    border: solid 0.5px rgba(133, 133, 133, 0.661);
    padding: 25px; 
    border-radius: 10px;
    width: 60%;
}

.timeline-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
}

.timeline-carousel {
    padding: 20px;
    border-radius: 5px;
    flex: 1;
    margin: 10px;
}

.timeline-carousel img{
    width: 100%;
    width: 400px;
    object-fit: cover;
    border-radius: 5px;
}

  
  
  .card .form-control::placeholder {
    color: #bbb;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: #00000000;
  }
  
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-left: -10px;
    margin-bottom: 30px;
}

.search-bar input {
    flex: 1;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.search-bar button:hover {
    background-color: #66666600;
}

.details {
    flex: 2;
}

.releases {
    flex: 1;
}

.timeline-event {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.releases {
        display: flex;
        justify-content: space-between;
        margin: 20px 50px;
        width: 100%;
}

.timeline-graph-title {
    align-self: center;
}