@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #253a52 0%, #1b2233 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overscroll-behavior: none; /* Prevent overscroll */
  font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-size: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  position: relative; 
  background-color: rgb(35, 35, 35);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #e5e5f7;
opacity: 0.8;
background-image:  radial-gradient(#9191912a 1px, transparent 0.5px), radial-gradient(#b9b9b900 0.5px, #000000 0.5px);
background-size: 20px 20px;
background-position: 0 0,10px 10px;
}



.App-link {
  color: #61dafb;
}



